/**
 * Admin settings page CSS
 */
#inteam-settings .inteam-field
{
	clear: both;
	margin-bottom: 2em;
} 
#inteam-settings label
{
	display: inline-block;
	width: 150px;
	float: left;	
}
#inteam-settings .inteam-input
{
	margin-left: 160px;
}
#inteam-settings .inteam-input p
{
	margin: 2px;
}